@font-face {
    font-family: 'Cloud';
    src: url(../assets/cloudFont.ttf) format('truetype');
  }


  form {
    z-index: 5;
  }


  /* Extra small devices (phones, 600px and down) */
@media (max-width:767px) {

    /*Funkar inte i chrome responsive 
                              viewer med "only screen and" på mobilvy*/
    /*Insert dropdown menu*/
    
  
    #title {
      padding-left: 0.5em;
      font-family: 'Snowball', sans-serif;
      font-size: 26px;
      align-self: center;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1024px) and (max-width: 1240px) {
    
  }


/*Dim or brighten screen depending on weather
grey scale for snow
brighten for sun
dim for rain
lightning flicker for thunderstorm
*/