h1 {
  padding: 20px;
  color: #ECECEE;
  text-align: center;
}

body {
  background: #ECECEE;
  /* max-width: 1000px; */
  margin: auto;
  color: #ECECEE;
  display: flex;
  
  /* grid-template-columns: 1fr; */
  font-size: 20px;
  /* box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2); */
}

main {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
}

nav {
  display: flex;
  flex-direction: column;
  background: #BD0019;
}

ul {
  display: grid;
  grid-template-columns: auto;
  list-style: none;
  text-align: center;
  height: inherit;
  align-content: center;
}

li {
  display: inline;
}

#navHome {
  grid-column-start: 1;
  grid-column-end: 2;
}

#navNow {
  grid-column-start: 2;
  grid-column-end: 3;
}

#navFuture {
  grid-column-start: 3;
  grid-column-end: 4;
}

#navHistory {
  grid-column-start: 4;
  grid-column-end: 5;
}

footer {
  display: flex;
  flex-direction: column;
  background: #458A0E;
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 50px;
  align-items: center;
}

a:link {
  color: #ECECEE;
  text-decoration: none;
}

a:visited {
  color: #ECECEE;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;
}

a:active {
  color: #8f8f8f;
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width:479px) {
  div {
    background: red;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  body {
    background: #ECECEE;
    max-width: 1000px;
    margin: auto;
    color: #ECECEE;
    display: grid;
    position: fixed;
    left: 11%;
    height: 100%;
    
    grid-template-columns: 1fr;
    font-size: 20px;
    /* box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2); */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 480px) and (max-width: 1023px) {
  div {
    background: blue;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  nav {
    height: 100%;
  }

  body {
    background: #ECECEE;
    max-width: 1000px;
    margin: auto;
    color: #ECECEE;
    display: grid;
    position: fixed;
    left: 11%;
    height: 100%;
    
    grid-template-columns: 1fr;
    font-size: 20px;
    /* box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2); */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  div {
    background: #BD0019;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  body {
    background: #ECECEE;
    max-width: 1000px;
    margin: auto;
    color: #ECECEE;
    display: grid;
    position: inherit;
    grid-template-columns: 1fr;
    font-size: 20px;
    /* box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2); */
  }
}