p {
  padding: 1em;
}

#h1Container {
  display: grid;
  grid-template-columns: 0.2fr;
  background: #458A0E;
  align-items: center;
}

#title {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
  right: 6%;
}

#rudolphSVG {
  grid-column-start: 1;
  grid-column-end: 1;
  width:6em; 
  height:6em;
}

main {
  background: #458A0E;
}

#imageContainer {
  display: grid;
  grid-template-columns: 1fr;
  background: #BD0019;
}

#details {
  align-self: center;
  margin-left: 32.5%;
  grid-column-start: 1;
  grid-column-end: 2;
}

#image {
  grid-column-start: 2;
}

#aiImg {
  width: 100%;
  height: auto;
}

#fractalVideo {
  width: 80%;
  height: auto;
}

aside {
  display: flex;
  flex-direction: column;
  background: #BD0019;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 2%;
}

#tableTitle {
  text-align: center;
}

dl {
  grid-column-start: 1;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

/* Small devices (phones) */
@media only screen and (max-width: 479px) {
  audio {
    width: 245px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 480px) {
}

/* Large devices (desktop/laptop) */
@media only screen and (min-width: 1024px) {
}