#title {
    right: 9%;
}

#contentContainer {
    background: #BD0019;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    padding-inline-start: 2% ;
}

pre {
    display: flex;
    flex-direction: column;
    white-space:unset;
}

p {
    padding-inline-start: 2%;
}

li {
   display: list-item;
}

ol {
    padding-inline-start: 5%;
    list-style: lao;
}

ol:hover {
    list-style: decimal;
    -webkit-animation: fadeinout 0.8s linear forwards;
    animation: fadeinout 0.8s linear forwards;
}

body {
    height: 100vh;
}

#bodyContainer {
    height: 100%;
}

@-webkit-keyframes fadeinout {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeinout {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}